/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/logo.jpg') no-repeat center top;
  background-size: contain;
}

.response {
    padding: 10px 30px;
    font-family: Consolas, monaco, monospace, courier;
    background-color: #111;
    color: green;
    min-height: 80%;
    white-space: pre;
    overflow: inherit;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/logo.jpg') no-repeat center top;
    background-size: contain;
  }
}
