<div class="row">
    <jhi-alert-error></jhi-alert-error>

    <div class="col-md-6">
        <h1 class="display-4">Welcome to HashKitten</h1>

        <form name="editForm" role="form" novalidate (ngSubmit)="execute()" [formGroup]="editForm" style="padding-top: 5%;padding-left: 10%;">
            <div class="col-6">

                <div class="form-group">
                    <label class="form-control-label" for="field_hashValue">Hash Value*</label>
                    <input type="text" class="form-control" name="hashValue" id="field_hashValue"
                           formControlName="hashValue"/>
                    <div *ngIf="editForm.get('hashValue')!.invalid && (editForm.get('hashValue')!.dirty || editForm.get('hashValue')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('hashValue')?.errors?.required">
                            This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_attackType">Attack Type</label>
                    <select class="form-control" name="attackType" formControlName="attackType" id="field_attackType" [(ngModel)]="aType">
                        <option value="BRUTE_FORCE">BRUTE FORCE</option>
                        <option value="WORD_LIST">WORD LIST</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_hashType" >Hash Type</label>
                    <select class="form-control" name="hashType" formControlName="hashType" id="field_hashType" [(ngModel)]="hType">
                        <option value="MD5">MD5</option>
                        <option value="SHA1" selected>SHA1</option>
                    </select>
                </div>
                <div *ngIf="this.editForm.get(['attackType'])!.value === 'BRUTE_FORCE'">
                    <div class="form-group" style="display:flex">
                        <label class="form-control-label" for="field_useUppercase" style="width: 100%">Use Uppercase</label>
                        <input type="checkbox" class="form-control" name="useUppercase" id="field_useUppercase"
                               formControlName="useUppercase"/>
                    </div>

                    <div class="form-group" style="display:flex">
                        <label class="form-control-label" for="field_useLowercase" style="width: 100%">Use Lowercase</label>
                        <input type="checkbox" class="form-control" name="useLowercase" id="field_useLowercase"
                               formControlName="useLowercase"/>
                    </div>

                    <div class="form-group" style="display:flex">
                        <label class="form-control-label" for="field_useDigits" style="width: 100%">Use Digits</label>
                        <input type="checkbox" class="form-control" name="useDigits" id="field_useDigits"
                               formControlName="useDigits"/>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="field_passwordLength">Password Length</label>
                        <input type="number" class="form-control" name="passwordLength" id="field_passwordLength"
                               formControlName="passwordLength"/>
                    </div>
                </div>
            </div>
            <div style="width: 48%">
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary" style="float: right">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Execute</span>
                </button>
            </div>
        </form>

    </div>
    <div class="col-md-6">
        <h1 class="display-5">Server response:</h1>
        <div class="response" >{{response}}</div>

    </div>
</div>
